<br />
<br />
 <div class="container">
	<div class="jumbotron" style="text-align: center;">
		<h1><%= t('views.casein.casein.welcome') %></h1>
		<br />
		<p><%= t('views.casein.casein.ready') %></p>
		<p><small style="font-size: 0.7em;"><%= t('views.casein.casein.remove_screen') %></small></p>
		<br />
		<p><a href="https://github.com/russellquinn/casein/blob/master/README.rdoc" class="btn btn-primary btn-large"><%= t('views.casein.casein.readme') %></a></p>
	</div>
  </div>
